<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="active"><a href="/Home">Home</a></div>
            <a href="/Pokecheck">Pokedex Checklist</a>
        </nav>
        <center><h1>Hello Pokemon Master</h1></center>
        <center><img src="https://cdn.bulbagarden.net/upload/3/3e/Lets_Go_Pikachu_Eevee_Professor_Oak.png"></center>
    </body>

</html>